<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>安徽省</key>
	<array>
		<array>
			<string>安庆市</string>
			<string>安徽省下属安庆市</string>
		</array>
		<array>
			<string>蚌埠市</string>
			<string>安徽省下属蚌埠市</string>
		</array>
		<array>
			<string>毫州市</string>
			<string>安徽省下属毫州市</string>
		</array>
		<array>
			<string>巢湖市</string>
			<string>安徽省下属巢湖市</string>
		</array>
		<array>
			<string>池州市</string>
			<string>安徽省下属池州市</string>
		</array>
		<array>
			<string>滁州市</string>
			<string>安徽省下属滁州市</string>
		</array>
		<array>
			<string>阜阳市</string>
			<string>安徽省下属阜阳市</string>
		</array>
		<array>
			<string>合肥市</string>
			<string>安徽省省会</string>
		</array>
		<array>
			<string>淮北市</string>
			<string>安徽省下属淮北市</string>
		</array>
		<array>
			<string>淮南市</string>
			<string>安徽省下属淮南市</string>
		</array>
		<array>
			<string>黄山市</string>
			<string>安徽省下属黄山市</string>
		</array>
		<array>
			<string>界首市</string>
			<string>安徽省下属界首市</string>
		</array>
		<array>
			<string>六安市</string>
			<string>安徽省下属六安市</string>
		</array>
		<array>
			<string>马鞍山市</string>
			<string>安徽省下属马鞍山市</string>
		</array>
		<array>
			<string>明光市</string>
			<string>安徽省下属明光市</string>
		</array>
		<array>
			<string>宁国市</string>
			<string>安徽省下属宁国市</string>
		</array>
		<array>
			<string>宿州市</string>
			<string>安徽省下属宿州市</string>
		</array>
		<array>
			<string>天长市</string>
			<string>安徽省下属天长市</string>
		</array>
		<array>
			<string>铜陵市</string>
			<string>安徽省下属铜陵市</string>
		</array>
		<array>
			<string>芜湖市</string>
			<string>安徽省下属芜湖市</string>
		</array>
		<array>
			<string>宣城市</string>
			<string>安徽省下属宣城市</string>
		</array>
	</array>
	<key>北京市</key>
	<array>
		<array>
			<string>北京市</string>
			<string>北京市省会</string>
		</array>
	</array>
	<key>重庆市</key>
	<array>
		<array>
			<string>重庆市</string>
			<string>重庆市省会</string>
		</array>
		<array>
			<string>合川市</string>
			<string>重庆市下属合川市</string>
		</array>
		<array>
			<string>江津市</string>
			<string>重庆市下属江津市</string>
		</array>
		<array>
			<string>南川市</string>
			<string>重庆市下属南川市</string>
		</array>
		<array>
			<string>永川市</string>
			<string>重庆市下属永川市</string>
		</array>
	</array>
	<key>福建省</key>
	<array>
		<array>
			<string>长乐市</string>
			<string>福建省下属长乐市</string>
		</array>
		<array>
			<string>福清市</string>
			<string>福建省下属福清市</string>
		</array>
		<array>
			<string>福州市</string>
			<string>福建省下属福州市</string>
		</array>
		<array>
			<string>建瓯市</string>
			<string>福建省下属建瓯市</string>
		</array>
		<array>
			<string>晋江市</string>
			<string>福建省下属晋江市</string>
		</array>
		<array>
			<string>龙海市</string>
			<string>福建省下属龙海市</string>
		</array>
		<array>
			<string>龙岩市</string>
			<string>福建省下属龙岩市</string>
		</array>
		<array>
			<string>南安市</string>
			<string>福建省下属南安市</string>
		</array>
		<array>
			<string>南平市</string>
			<string>福建省下属南平市</string>
		</array>
		<array>
			<string>宁德市</string>
			<string>福建省下属宁德市</string>
		</array>
		<array>
			<string>莆田市</string>
			<string>福建省下属莆田市</string>
		</array>
		<array>
			<string>泉州市</string>
			<string>福建省下属泉州市</string>
		</array>
		<array>
			<string>三明市</string>
			<string>福建省下属三明市</string>
		</array>
		<array>
			<string>石狮市</string>
			<string>福建省下属石狮市</string>
		</array>
		<array>
			<string>厦门市</string>
			<string>福建省下属厦门市</string>
		</array>
		<array>
			<string>永安市</string>
			<string>福建省下属永安市</string>
		</array>
		<array>
			<string>漳平市</string>
			<string>福建省下属漳平市</string>
		</array>
		<array>
			<string>漳州市</string>
			<string>福建省下属漳州市</string>
		</array>
	</array>
	<key>甘肃省</key>
	<array/>
	<key>广东省</key>
	<array/>
	<key>广西壮族自治区</key>
	<array>
		<array>
			<string>百色市</string>
			<string>广西省下属百色市</string>
		</array>
		<array>
			<string>北海市</string>
			<string>广西省下属北海市</string>
		</array>
		<array>
			<string>崇左市</string>
			<string>广西省下属崇左市</string>
		</array>
		<array>
			<string>防城港市</string>
			<string>广西省下属防城港市</string>
		</array>
		<array>
			<string>贵港市</string>
			<string>广西省下属贵港市</string>
		</array>
	</array>
	<key>贵州省</key>
	<array/>
	<key>海南省</key>
	<array/>
	<key>河北省</key>
	<array/>
	<key>河南省</key>
	<array/>
	<key>黑龙江省</key>
	<array/>
	<key>湖北省</key>
	<array/>
	<key>湖南省</key>
	<array/>
	<key>吉林省</key>
	<array/>
	<key>江苏省</key>
	<array/>
	<key>江西省</key>
	<array/>
	<key>辽宁省</key>
	<array/>
	<key>内蒙古自治区</key>
	<array/>
	<key>宁夏回族自治区</key>
	<array/>
	<key>青海省</key>
	<array/>
	<key>山东省</key>
	<array/>
	<key>山西省</key>
	<array/>
	<key>陕西省</key>
	<array/>
	<key>上海市</key>
	<array/>
	<key>四川省</key>
	<array/>
	<key>天津市</key>
	<array/>
	<key>西藏自治区</key>
	<array/>
	<key>新疆维吾尔自治区</key>
	<array>
		<array>
			<string>阿克苏地区</string>
			<string>新疆维吾尔自治区下属阿克苏地区</string>
		</array>
		<array>
			<string>阿勒泰地区</string>
			<string>新疆维吾尔自治区下属阿勒泰地区</string>
		</array>
		<array>
			<string>巴音郭楞蒙古自治州</string>
			<string>新疆维吾尔自治区下属巴音郭楞蒙古自治州</string>
		</array>
		<array>
			<string>博尔塔拉蒙古自治州</string>
			<string>新疆维吾尔自治区下属博尔塔拉蒙古自治州</string>
		</array>
		<array>
			<string>昌吉回族自治州</string>
			<string>新疆维吾尔自治区下属昌吉回族自治州</string>
		</array>
	</array>
	<key>云南省</key>
	<array/>
	<key>浙江省</key>
	<array>
		<array>
			<string>慈溪市</string>
			<string>浙江省下属慈溪市</string>
		</array>
		<array>
			<string>东阳市</string>
			<string>浙江省下属东阳市</string>
		</array>
	</array>
</dict>
</plist>
